<div class="parent">
    <%= render 'decorators/message', :message => @parent, :dont_render_responses => true %>
</div>

<div class="response">
    <%= form_for @message, :url => group_topic_messages_path(@group, @topic, params.slice(:parent)) do |f| %>
        
        <%= render 'messages/form', :message => @message, :f => f %>
        
        <%= f.submit %>
        
    <%- end -%>
</div>