/* Positioning */



/* General */

.notice { color: orange; }
.error { color: red; }

.message { border: 1px solid grey ; padding-left: 10px; padding-right: 10px; margin-bottom: 5px; }
.message .header { margin-top: -10px; }
.message .body { margin-left: 10px; }
.message .body blockquote { border: solid 1px black; background-color: grey; padding: 10px; margin-left: 10px; }
.message .responses .response { list-style-type: none; }

/* Session frame */
.session { float: right; }
