<% content_for :header_menu do %>
    <ul> 
        <li><%= link_to "Discussion groups", groups_path %></li>
    </ul>
<% end %>

<% content_for :content_title do %>
    <h2>Discussion groups</h2>
<% end %>

<ul class="groups-list">
<%- @groups.each do |group| -%>
    <li>
        <%= link_to group_topics_path(group), :class => "button-link" do %>
            <%= group.name %>
        <% end %>
    </li>
<%- end -%>
</ul>
