<% content_for :header_menu do %>
  <ul class="bold"> 
    <li><%= link_to "Groupes de discussion", groups_path %></li>
  </ul>
<% end %>

<ul class="groups-list">
<%- @groups.each do |group| -%>
    <li>
        <%= link_to group_topics_path(group) do %>
            <%= group.name %>
        <% end %>
    </li>
<%- end -%>
</ul>
