<% content_for :header_menu do %>
  <ul class="bold"> 
    <li><%= link_to "Groupes", groups_path %></li>
  </ul>
<% end %>

<ul>
<%- @groups.each do |group| -%>
    <li><%= link_to group.name, group_topics_path(group) %></li>
<%- end -%>
</ul>
