<div id="session">
    <%- if current_user.activated? -%>
        Welcome <%= current_user.username %>. <%= link_to 'Logout', session_path, :method => :delete %>
    <%- else -%>
        <%= link_to 'Login', new_session_path(:return => request.path) %> or <%= link_to 'Singup', new_user_path %>
    <%- end -%>
</div>
