<h1> NNTP Servers </h1>
<table>
    <tr>
        <th>Host</th>
        <th>Groups</th>
        <th>Delete</th>
    </tr>
    <%- @servers.each do |server| -%>
    <tr>
        <td><%= link_to server.hostname, admin_server_path(server) %></td>
        <td><%= server.groups.count %></td>
        <td><%= link_to 'Delete', admin_server_path(server), :confirm => true %></td>
    </tr>
    <%- end -%>
</table>

<%= link_to 'Add server', new_admin_server_path %>